@media screen {
  #screen-title {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    padding: 1rem;
  }

  #screen-title > div {
    grid-column: 2;
  }

  #screen-title p {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 500px) {
    #screen-title div {
      margin: 0 0.5rem;
    }
  }
}