@media screen {
  #screen-title {
    padding: 1rem;
  }

  #screen-title p {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 500px) {
    #screen-title div {
      margin: 0 0.5rem;
    }
  }
}