@media screen {
  #audio-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.5rem;
  }
  
  #audio-controls {
    justify-content: center;
  }
  
  #audio-controls button {
    display: flex;
    border: none;
    border-radius: 4px;
    padding: 0.25rem;
    cursor: pointer;
  }  
}