@media screen {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--text-font);
    text-align: left;
  }

  #screen-title {
    padding: 1rem;
  }

  #screen-title p {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 500px) {
    #screen-title div {
      margin: 0 0.5rem;
    }
  }
}