@media screen {
  :root {
    --primary: aquamarine;
    --secondary: blueviolet;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  #screen-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #screen-title button {
    border: 0;
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 1.5rem;
    cursor: pointer;
    background-color: var(--primary);

  }

  .track-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
  }

  .track-display img {
    border-radius: 5px;
    max-width: 10rem;
  }

  .track-display button {
    color: white;
    border: 0;
    background-color: black;
    padding: 0.25rem;
    border-radius: 5px;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .track-display {
      flex-direction: column;
    }

    .track-display button {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-align: left;
      color: white;
      background-color: var(--secondary);
      padding: 0.25rem;
      border-radius: 5px;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      cursor: pointer;
    }

    .track-display img {
      max-width: 5rem;
    }
  }

  #play-data {
    text-align: center;
    margin-bottom: 1rem;
  }

  #score span, #lives span {
    font-weight: 600;
    color: var(--primary);
  }
}