@media screen {
  @keyframes success {
    0% { border-color: green }
  }

  @keyframes realTrack {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }

  @keyframes fail {
    0% {
      transform: translateX(0px);
      filter: brightness(0) invert(17%) sepia(91%) saturate(2957%) hue-rotate(343deg) brightness(98%) contrast(97%);
    }
    25% {
      transform: translateX(5px);
      filter: brightness(0) invert(17%) sepia(91%) saturate(2957%) hue-rotate(343deg) brightness(98%) contrast(97%);
    }
    50% {
      transform: translateX(-5px);
      filter: brightness(0) invert(17%) sepia(91%) saturate(2957%) hue-rotate(343deg) brightness(98%) contrast(97%);
    }
    75% {
      transform: translateX(5px);
      filter: brightness(0) invert(17%) sepia(91%) saturate(2957%) hue-rotate(343deg) brightness(98%) contrast(97%);
    }
    100% {
      transform: translateX(0px);
      filter: brightness(0) invert(17%) sepia(91%) saturate(2957%) hue-rotate(343deg) brightness(98%) contrast(97%);
    }
  }

  @keyframes switchToGreen {
    0% {
      filter: brightness(0) invert(69%) sepia(90%) saturate(1484%) hue-rotate(84deg) brightness(101%) contrast(105%);
    }
  }

  @keyframes glowUp {
    0% {
      box-shadow: 0 0 8px -3px var(--primary);
    }
    50% {
      box-shadow: 0 0 8px 5px white;
    }
    100% {
      box-shadow: 0 0 8px -3px var(--primary);
    }
  }

  @keyframes turnOver {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes growUp {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  .glow-up {
    animation: glowUp 2s ease-in-out infinite;
  }

  .turn-over {
    animation: turnOver 2s ease-in-out infinite;
  }

  .turn-over-fast {
    animation: turnOver 1s ease-in-out infinite;
  }

  .grow-up-5 {
    animation: growUp 2s alternate infinite;
  }

  .grow-up-4 {
    animation: growUp 1.5s alternate infinite;
  }

  .grow-up-3 {
    animation: growUp 1.25s alternate infinite;
  }

  .grow-up-2 {
    animation: growUp 1s alternate infinite;
  }

  .grow-up-1 {
    animation: growUp 0.75s alternate infinite;
  }

  .appear {
    animation: appear 1s ease-in-out;
  }
}