:root {
  --pink-fresh: #ff0066;
  --pop-purple: #7f1e97;
  --pop-purple-dark: #DE83F5;

  --primary: var(--pop-purple);
  --primary-dark: var(--pop-purple-dark);
  --foreground-rgb: #ffffff;
  --background-start-rgb: #000000;
  --background-end-rgb: #140014;
}