@font-face {
  font-family: 'Engcomica';
  src: url("../../../public/fonts/Engcomica.otf"),
}

@font-face {
  font-family: 'Walkway';
  src: url('../../../public/fonts/Walkway\ UltraBold.ttf');
}

@font-face {
  font-family: 'WalkwayBold';
  src: url('../../../public/fonts/Walkway\ Black.ttf');
}

html {
  --title-font: 'Engcomica', Calibri, sans-serif;
  --text-font: 'Walkway', Calibri, sans-serif;
  --text-font-bold: 'WalkwayBold', Calibri, sans-serif;
}