@import url('./font.css');
@import url('./colors.css');

@media screen {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
  }

  html {
    font-size: 16px;
  }

  body {
    --pop-shadow: var(--primary) 2px 4px 1px;
    --pop-shadow-light: var(--primary) 1px 2px 1px;

    color: var(--foreground-rgb);
    background: linear-gradient(
        to bottom,
        transparent,
        var(--background-end-rgb)
      )
      var(--background-start-rgb);
    font-family: 'Engcomica';
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--text-font);
    text-align: left;
  }

  h1 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: var(--primary) 2px 4px 1px;
    border-radius: 5px;
    padding: 0 0.5rem;
    margin: 0.5rem 0rem;
    margin-left: 1rem;
  }

  h2 {
    font-family: var(--title-font);
    text-shadow: var(--pop-shadow);
    font-size: 2rem;
    font-weight: 600;
    margin: 0.75rem 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    font-family: var(--text-font);
    letter-spacing: 0.8px;
  }

  button.game-navigation {
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    transition: 0.2s;
  }

  button.game-navigation:hover {
    box-shadow: #ffffff33 0px 20px 30px;
  }

  .end {
    color: red;
  }

  #game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  #score span, #lives span {
    font-weight: 600;
    color: var(--primary);
  }

  .fail {
    animation: fail 1.5s ease-in-out 1;
  }

  .success {
    animation: switchToGreen 1.5s ease-in-out 1;
  }

  .real-track {
    animation: realTrack 1.5s ease-in-out 1;
  }
}